
body {
    margin: 0;
    padding: 0;
    background-image: url("images/background-image.JPG");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 900px;
    font-family: 'Economica', sans-serif;
}

.header {
    height: 50px;
    width: auto;
    background: lightgray;
    padding: 25px;
}

.heading {
    font-size: 2em;
    margin: -15px 35px 0px 0px;
    text-align: right;
}

.sub-text {
    margin: 0px 25px 0px 0px;
    font-size: 1.2em;
    text-align: right;
}

.logo-main {
    margin-top: -50px;
    margin-left: -10px;
}

.card {
    position: relative;
    min-height: 700px;
    height: auto;
    width: 85%;
    margin: auto;
    background: white;
    box-shadow: 0 0 20px black;
    margin-top: -180px;
}

.navigation {
    height: 125px;
    width: 250px;
    background: #A30051;
    position: fixed;
    margin-bottom: 100px;
    z-index: 1;
    margin-left: -200px;
    animation-name: navpulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes navpulse {
    0% {
        left: 0;
    }
    50% {
        left: 6px;
    }
    100% {
        left: 0;
    }
}


/*The CSS validator shows this as the error on line 54 - Unknown pseudo-element or pseudo-class :focus-within - 
This is the only way I could set focus on the nav links when using only the keyboard.*/

.navigation:hover,
.navigation:focus-within {
    margin-left: -100px;
    animation: none;
}

.nav-list {
    list-style: none;
    color: white;
    margin-top: 10px;
}

.nav-icon {
    margin-left: 210px;
    margin-top: -78px;
}

.nav-icon img {
    height: 25px;
    width: 25px;
}

.nav-list,
.nav-icon {
    display: block;
}

.list {
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.7em;
}

.list a,
.card-footer a {
    text-decoration: none;
}

.list a {
    color: white;
}

.card-footer a {
    color: black;
}

.titles {
    text-align: center;
    font-size: 4em;
    position: relative;
    padding-top: 75px;
    z-index: 2;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-pic img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    margin-top: 180px;
}

.profile-content {
    margin: 50px 20% -50px 20%;
    text-align: center;
    font-size: 1.4em;
    /*margin-bottom: -50px;*/
}

.project-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-pic img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    margin-top: 30px;
}

.project {
    width: 270px;
    height: 370px;
    background: white;
    border: 2px solid #f2f2f2;
    border-top: transparent;
    border-bottom: transparent;
    border-left: transparent;
    font-size: 1.2em;
    text-align: center;
    margin-top: 152px;
    margin-bottom: -150px;
}

.project-3 {
    border: none;
}

.card-footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    transform: skewY(-2deg);
    background: #D482AD;
}

.card-footer p {
    color: black;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1.3em;
}

.contact-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-icons {
    display: inline-block;
    font-size: 3em;
    padding: 10px;
    margin-top: 220px;
}

.contact-icons a {
    color: black;
}

.stamp {
    padding: 170px 50px 80px 50px;
}